@import '../styles/colours.scss';

.column {
  min-height: 100%;
  padding: 1em;

  &__panel {
    min-height: 100%;
    padding: 1em;
    background-color: $tertiary;
    border-radius: 0.25em;
  }
}
