@import '../../globals.scss';

.column {
  min-height: 100%;
  padding: 1em;

  &__panel {
    min-height: 100%;
    padding: 1em;
    background-color: $tertiary;
    border-radius: 0.25em;

    &--placeholder {
      background-color: $outline !important;
      border: 1.5px dashed $dark;
      opacity: 0.4;
      min-height: auto !important;
    }
  }
}
