@import '../../globals.scss';

.column {
  min-height: 100%;
  padding: 1em;

  &__panel {
    min-height: 100%;
    padding: 1em;
    background-color: white;
    border-radius: 0.25em;

    &--placeholder {
      background-color: $grey !important;
      border: 1.5px dashed $black;
      opacity: 0.4;
      min-height: auto !important;
    }
  }

  &__panel-heading {

  }

  &__panel-title {

  }

  &__panel-content {

  }
}
